mat-card
{
    margin: 10px 5px 10px 5px;
}

mat-card-title
{
    font-weight: bold;
    color: black;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.mat-mdc-raised-button .mat-icon
{
  zoom: 1.4;
  margin: 0 auto;
}