<div class="headerTitre">
    <h1>Gestion des joueurs</h1>
    <button mat-raised-button color="primary" (click)="OuvrirModalAjouterJoueur()">Ajouter</button>
</div>

<div class="container-fluid">
    <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input matInput type="search" (keyup)="Rechercher($event)" #input>
    </mat-form-field>
    
    @if(tailleEcran > TAILLE_768)
    {
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="listeJoueur" matSort>
        
                <!-- Pseudo Column -->
                <ng-container matColumnDef="Pseudo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pseudo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.Pseudo }} </td>
                </ng-container>
        
                <!-- IdDiscord Column -->
                <ng-container matColumnDef="IdDiscord">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Discord </th>
                    <td mat-cell *matCellDef="let element"> {{ element.IdDiscord }} </td>
                </ng-container>

                <!-- nb tank Column -->
                <ng-container matColumnDef="NbTank">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nb tank </th>
                    <td mat-cell *matCellDef="let element"> {{ element.ListeIdTank.length }} </td>
                </ng-container>
        
                <!-- EstStrateur Column -->
                <ng-container matColumnDef="EstStrateur">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Strateur </th>
                    <td mat-cell *matCellDef="let element"> {{ element.EstStrateur ? 'Oui' : 'Non' }} </td>
                </ng-container>
        
                <!-- EstStrateur Column -->
                <ng-container matColumnDef="EstAdmin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin </th>
                    <td mat-cell *matCellDef="let element"> {{ element.EstAdmin ? 'Oui' : 'Non' }} </td>
                </ng-container>
        
                <!-- Activer Column -->
                <ng-container matColumnDef="EstActiver">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activer </th>
                    <td mat-cell *matCellDef="let element"> {{ element.EstActiver ? 'Oui' : 'Non' }} </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let element">

                        <!-- lister tank joueur -->
                        <button mat-mini-fab color="primary" matTooltip="Liste des tanks du joueurs" 
                                (click)="ModalOuvrirModalTankJoueur(element.Id, element.Pseudo, $event)">
                            <mat-icon>list</mat-icon>
                        </button>&nbsp;

                        <!-- activer / desactiver -->
                        <button mat-mini-fab color="primary" matTooltip="Activer / désactiver joueur" 
                                (click)="ActiverDesactiverJoueur(element, $event)">

                            @if(btnClicker)
                            {
                                <mat-spinner diameter="23"></mat-spinner>
                            }
                            @else {
                                <mat-icon>{{ element.EstActiver ? 'power' : 'power_off' }}</mat-icon>
                            }
                        </button>&nbsp;

                        <!-- supprimer -->
                        <button mat-mini-fab color="warn" matTooltip="Supprimer joueur" 
                                (click)="SupprimerJoueur(element.IdDiscord, $event)">
                                @if(btnClicker)
                                {
                                    <mat-spinner diameter="23"></mat-spinner>
                                }
                                @else {
                                    <mat-icon>delete</mat-icon>
                                }
                        </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="survole"
                    (click)="OuvrirModalModifierJoueur(element)"></tr>
        
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Auncun résultat pour "{{ input.value }}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    }
    @else {
        <!-- format tel / mini tablette -->
        <div class="row scrollBar">
            @for (element of listeJoueur.data; track $index) 
            {
                <div class="col-xs-12 col-sm-6">
                    <mat-card (click)="OuvrirModalModifierJoueur(element)">
                        <mat-card-header>
                            <mat-card-title>{{ element.Pseudo }}</mat-card-title>
                        </mat-card-header>
        
                        <mat-card-content>
                            <ul>
                                <li><b>Id discord:</b> {{ element.IdDiscord }}</li>
                                <li><b>Nb tanks:</b> {{ element.ListeIdTank.length }}</li>

                                <li><b>Strateur:</b> {{ element.EstStrateur ? 'Oui' : 'Non' }}</li>
                                <li><b>Admin:</b> {{ element.EstAdmin ? 'Oui' : 'Non' }}</li>

                                <li><b>Activer: </b> {{ element.EstActiver ? 'Oui' : 'Non' }}</li>
                            </ul>
                            
                        </mat-card-content>

                        <mat-card-actions align="end">  

                            <!-- btn supprimer -->
                            <button mat-raised-button color="warn"
                                    (click)="SupprimerJoueur(element.IdDiscord, $event)">
                                    @if(btnClicker)
                                    {
                                        <mat-spinner diameter="23"></mat-spinner>
                                    }
                                    @else {
                                        <mat-icon>delete</mat-icon>
                                    }
                            </button>&nbsp;

                            <!-- activer / desactiver -->
                            <button mat-raised-button color="primary" (click)="ActiverDesactiverJoueur(element, $event)">
                                @if(btnClicker)
                                {
                                    <mat-spinner diameter="23"></mat-spinner>
                                }
                                @else {
                                    <mat-icon>{{ element.EstActiver ? 'power' : 'power_off' }}</mat-icon>
                                }                            
                            </button>&nbsp;

                            <!-- lister tank joueur -->
                            <button mat-raised-button color="primary"
                                    (click)="ModalOuvrirModalTankJoueur(element.Id, element.Pseudo, $event)">
                                <mat-icon>list</mat-icon>
                            </button>
                        </mat-card-actions>
                        
                    </mat-card>
                </div>
            }
        </div>
    }
</div>

