<div style="overflow-y: hidden;">
    <div class="headerTitre">
        <h1>Gestion des tanks</h1>
        <button mat-raised-button color="primary" (click)="OuvrirModalAjouterTank()">Ajouter</button>
    </div>
    
    <div class="container-fluid">
        <!-- filtre / recherche -->
        <div class="row">
    
            <!-- input recherche par nom -->
            <div class="col-lg-12 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Recherche par nom</mat-label>
                    <input #inputRecherche matInput type="search" (keyup)="Rechercher(inputRecherche.value)">
                </mat-form-field>
            </div>
    
            <!-- select filtre par tier -->
            <div class="col-lg-4 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Par tier</mat-label>
                    <mat-select #selectIdTier 
                                (selectionChange)="Filtrer($event.value, selectIdType.value, 
                                                           selectIdStatut.value, checkboxTankPossedeJoueur.checked)">
                        <mat-option value="0">Tous</mat-option>
                        @for (element of listeTier; track $index) 
                        {
                            <mat-option [value]="element.Id">
                                {{ element.Nom }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
    
            <!-- select filtre par type -->
            <div class="col-lg-4 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Par type</mat-label>
                    <mat-select #selectIdType 
                                (selectionChange)="Filtrer(selectIdTier.value, $event.value, 
                                                           selectIdStatut.value, checkboxTankPossedeJoueur.checked)">
                        <mat-option value="0">Tous</mat-option>
                        @for (element of listeTypeTank; track $index) 
                        {
                            <mat-option [value]="element.Id">
                                {{ element.Nom }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
    
            <!-- select filtre par statut -->
            <div class="col-lg-4 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Par statut</mat-label>
                    <mat-select #selectIdStatut 
                                (selectionChange)="Filtrer(selectIdTier.value, selectIdType.value, 
                                                           $event.value, checkboxTankPossedeJoueur.checked)">
                        <mat-option value="0">Tous</mat-option>
                        @for (element of listeStatutTank; track $index) 
                        {
                            <mat-option [value]="element.Id">
                                {{ element.Nom }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- filtre les tanks qui ont au moins un joueur -->
            <div class="col-lg-12 col-md-12">
                <mat-checkbox color="primary" #checkboxTankPossedeJoueur
                    (change)="Filtrer(selectIdTier.value, selectIdType.value, selectIdStatut.value, $event.checked)">
                        Tanks qui ont au moins un joueur
                </mat-checkbox>
            </div>
        </div>
    
        <!-- card tank -->
        <div class="row scrollBar">
        @for (element of listeTank; track $index)
        {
            <div class="col-lg-4 col-sm-6">
                <mat-card>
                    <mat-card-header>
    
                        <mat-card-title>
                            <img mat-card-image src="assets/{{ GetImageTypeTank(element.IdTypeTank) }}" alt="logo type tank"> 
                            {{ element.Nom | titlecase }}
                        </mat-card-title>
    
                        <mat-card-subtitle>
                            Statut: {{ GetNomStatut(element.IdStatut) }} | 
                            Char: {{ GetNomType(element.IdTypeTank) }} |
                            {{ GetNomTier(element.IdTier) }}
                        </mat-card-subtitle>
                        
                    </mat-card-header>
    
                    <mat-card-actions align="end">  

                        <!-- btn supprimer -->
                        <button mat-raised-button color="warn"
                                (click)="OuvrirModalConfirmation(element.Id, element.Nom)">

                                @if(tailleEcran <= TAILLE_375)
                                {
                                    <mat-icon>delete</mat-icon>
                                } 
                                @else
                                {
                                    Supprimer
                                }
                        </button>&nbsp;

                        <!-- btn modifier -->
                        <button mat-raised-button color="accent"
                                (click)="OuvrirModalJModifierTank(element)">

                                @if(tailleEcran <= TAILLE_375)
                                {
                                    <mat-icon>edit</mat-icon>
                                } 
                                @else
                                {
                                    Modifier
                                }
                        </button>&nbsp;

                        <!-- btn lister joueurs qui possede le tank -->
                        <button mat-raised-button color="primary" 
                                (click)="OuvrirModalJoueurPossedeTank(element.Id, element.Nom)"
                                [disabled]="element.NbPossesseur == 0">
                            Joueurs ({{ element.NbPossesseur }})
                        </button>
                    </mat-card-actions>
                    
                </mat-card>
            </div>
        }
        </div>
    </div>
</div>



