mat-card-subtitle
{
    padding-right: 20px;
    color: gray;
}

.scrollBar
{
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

@media screen and (max-width: 1080px) 
{
    mat-card
    {
        height: 169px;

        mat-card-actions
        {
            position: absolute;
            bottom: 5px;
            right: 0;
        }
    } 
}