<mat-toolbar *ngIf="EstConnecter()" class="mat-elevation-z6" color="primary">
    <button mat-icon-button *ngIf="false">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-weight: bold; font-size: 1.2em; letter-spacing: 1px;">Peche App</span>

    <button mat-button>
      gestion tank
    </button>

    <button mat-button routerLink="/gestion-joueur">
      gestion joueur
    </button>

    <span style="flex: 1 1 auto;"></span>

    <button mat-raised-button (click)="OuvrirModalModifInfoCompte()">
      Mon compte
    </button>
</mat-toolbar>

<router-outlet></router-outlet>