<mat-toolbar *ngIf="EstConnecter()" class="mat-elevation-z6" color="primary">
    <button mat-icon-button *ngIf="false">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-weight: bold; font-size: 1.2em; letter-spacing: 1px;">Peche App</span>

    <button mat-button routerLink="/gestion-tank">
      gestion tank
    </button>

    <button mat-button routerLink="/gestion-joueur">
      gestion joueur
    </button>

    <span style="flex: 1 1 auto;"></span>

    <button mat-raised-button (click)="OuvrirModalModifInfoCompte()">

      <ng-container *ngIf="tailleEcran <= TAILLE_375">
        <mat-icon style="zoom: 1.3;">account_circle</mat-icon>
      </ng-container>

      <ng-container *ngIf="tailleEcran > TAILLE_375">Mon compte</ng-container>
      
    </button>
</mat-toolbar>

<router-outlet></router-outlet>