<mat-toolbar *ngIf="EstConnecter()" class="mat-elevation-z6" color="primary">
  @if(false)
  {
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  }
    <span style="font-weight: bold; font-size: 1.2em; letter-spacing: 1px;">Peche App</span>

    <button mat-button routerLink="/gestion-tank">
      gestion tank
    </button>

    <button mat-button routerLink="/gestion-joueur">
      gestion joueur
    </button>

    <button mat-button routerLink="/gestion-clan-war">
      gestion CW
    </button>

    <span style="flex: 1 1 auto;"></span>

    <button mat-raised-button (click)="OuvrirModalModifInfoCompte()">

      @if(tailleEcran <= TAILLE_375)
      {
        <mat-icon>account_circle</mat-icon>
      }
      @else
      {
        Mon compte
      }
    </button>
</mat-toolbar>

<router-outlet></router-outlet>