/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table, .mat-mdc-form-field 
{
  width: 100%;
}

.mat-mdc-progress-spinner circle, .mat-spinner circle
{
    stroke: white;
}

.hoverLigneTableau:hover
{
  background-color: lightgray;
  cursor: pointer;
}

.mat-mdc-dialog-title
{
  font-weight: bold !important;
  font-size: 1.4em !important;
  color: black !important;
}