mat-card
{
    margin: 10px 5px 10px 5px;
    padding-bottom: 16px;
}

mat-card-title
{
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

mat-card-subtitle
{
    padding-right: 20px;
    color: gray;
}

.posseder
{
    border: 2px solid green;
}