<div class="headerTitre">
    <h1>Liste des clan war dispo</h1>
</div>

<div class="container">
    <div class="row">
        @for (element of listeClanWar; track $index) 
        {
            <mat-card class="col col-xs-12">
                <mat-card-title>{{ element.Date }}</mat-card-title>
    
                <mat-card-content>
                    Participe: {{ element.Participe ? 'Oui' : 'Non' }} <br>
                    Nombre de participant(s): {{ element.NbParticipant }}
                </mat-card-content>
    
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary"
                            (click)="Action(element)">
                        {{ element.Participe ? "Désinscrire" : "Participer" }}
                    </button>&nbsp;

                    <button mat-raised-button color="primary"
                            [disabled]="element.NbParticipant == 0"
                            (click)="OuvrirModalParticipant(element)">
                        Voir participant
                    </button>&nbsp;

                    <button mat-raised-button color="primary"
                            [disabled]="element.NbParticipant == 0"
                            (click)="OuvrirModalConfigClanWar(element)">
                        Configurer
                    </button>
                </mat-card-actions>
            </mat-card>
        }
    </div>
</div>
